beautifulsoup4==4.8.2
Brotli==1.0.7
cchardet==2.1.5
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Genshi==0.7.3
google==2.0.3
html5lib==1.0.1
pycparser==2.19
pypiwin32==223
python-dotenv==0.10.3
pywin32==227
six==1.13.0
soupsieve==1.9.5
toml==0.10.0
webencodings==0.5.1
