azure-functions
Click
dvc
python-dotenv
joblib==1.2.0
matplotlib
nltk==3.8.1
numpy
openpyxl
pandas
scikit-learn==0.24.2
scipy
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
